/* стили кнопки редактировать */
.profile__edit-button {
  grid-area: edit-button;
  margin: 0 0 0 -2px;
  background-image: url("../../../images/edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  width: 24px;
  padding: 11px;
  background-color: #000000;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .profile__edit-button {
    margin: 0 0 20px -19px;
    width: 18px;
    padding: 9px;
  }
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}