/* стиль формы ввода */ 
.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 430px;
  background-color: #ffffff;
}

@media screen and (max-width: 960px) {
  .form {
    width: 282px;
    height: 322px;
  }
}