/* стили кнопки удаления карточки */ 
.element__delete {
    position: absolute;
    margin: 18px 15px 0 0;
    background-image: url("../../../images/delete.svg");
    background-size: contain;
    box-sizing: border-box;
    width: 10px;
    padding: 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    align-self: flex-end;
    transition: 0.5s;
  }
  
.element__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}
  
.element__delete:focus {
    outline: none;
}