/* стили попапа */ 
.popup__container {
  position: fixed;
  display: grid;
  max-width: 480px;
  grid-template-columns: 430px, 50px;
  grid-template-rows: 50px 330px;
  grid-template-areas: 
  ". button"
  "form .";
}

@media screen and (max-width: 960px) {
  .popup__container {
    max-width: 282px;
    grid-template-columns: 263px 19px;
    grid-template-rows: 50px 322px;
    grid-template-areas: 
    ". button"
    "form form";
  }
}