/* стили попапа */ 
.popup__container {
  display: grid;
  grid-template-columns: 430px, 50px;
  grid-template-rows: 50px max-content max-content;
  grid-template-areas: 
  ". button"
  "form ."
  "figure .";
}

@media screen and (max-width: 960px) {
  .popup__container {
    grid-template-columns: 263px, 19px;
    grid-template-areas: 
    ". button"
    "form form"
    "figure figure";
  }
}