/* стили профиля пользователя */ 
.profile {
  display: grid;
  grid-template-columns: 1fr min(336px) 24px 2fr 150px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "avatar name edit-button . add-button"
  "avatar profession profession . add-button";
  max-width: calc(100% - 2*200px);
  margin: 36px auto 0;
}

@media screen and (max-width: 1024px) {
  .profile {
    grid-template-columns: 1fr 18px;
    grid-template-rows: 1fr 70px 45px 50px;
    grid-template-areas: 
    "avatar avatar"
    "name edit-button"
    "profession profession"
    "add-button add-button";
    max-width: calc(100% - 2*19px);
    margin: 36px auto 0;
  }
}