/* стили обложек карточек */
.element__cover {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}

.element__cover:hover {
  cursor: pointer;
  opacity: 0.5;
}