/* общий стили подвала сайта */ 
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100% - 2*200px);
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .footer {
    max-width: calc(100% - 2*19px);
    margin: 0 19px;
  }
}